# Python artifacts
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.pytest_cache/
.ruff_cache/

# Environments
venv/
.venv/
conda-env/

# Data and Models (Never commit binary data to Git)
data/
artifacts/
*.parquet
*.duckdb

# IDE & OS
.vscode/
.idea/
.DS_Store